body{
	padding-top: 93px;


@media(min-width: 1200px){
	.mobile_menu{
		display: none;
	}
}

@media(max-width: 1200px){
	.menu_desk ul{
		display: none;
	}
}

.hamburger{
	float: right !important;
	margin-right: 4%;

	@media (max-width: 576px){
		width: 31% !important;
		margin-top: 2%;
	}  

	@media (max-width: 480px){
		width: 50% !important;
	} 	  

	.hamburger-inner{
		background-color: #fff !important;
		@media (max-width: 576px){
			width: 40px !important;
		}
		&::after{
			background-color: #fff !important;
		}

		&::before{
			background-color: #fff !important;
		}		
	}

	@media(min-width: 1200px){
		display: none;
	}
}


	@media(max-width: 1200px){
		padding-top: 78px;
	}

	@media(max-width: 992px){
		padding-top: 59px;
	}
	@media(max-width: 768px){
		padding-top: 66px;
	}
	@media(max-width: 468px){
		padding-top: 43px;
	}	
	position: relative;

	header{
		z-index: 9920;
		position: fixed;
		top: 0;
		width: 100%;
		min-height: 93px;
		max-height: 93px;

		@media(max-width: 1200px){
			min-height: 78px;
			max-height: 78px;			
		}

		@media(max-width: 992px){
			min-height: 59px;
			max-height: 59px;			
		}
		@media(max-width: 768px){
			min-height: 68px;
			max-height: 68px;			
		}
		@media(max-width: 468px){
			min-height: 43px;
			max-height: 43px;			
		}		
		section{
			&.menu{
				padding: 0.7% 0;
				background-color: #000;
				.container{
					.row{
						div{
							@media(max-width: 576px){
								width: 50%;
								float: left;
							}
							&:first-child{
								padding: 0;								
								figure{
									margin-bottom: 0;
									width: 54%;

									img{
										width: 100%;
									}									
								}
							}
							&:last-child{
								padding: 0;
								ul{
									width: 97%;
									margin-right: 3%;
									margin: 2% 0;								
									li{
										position: relative;
										cursor: pointer;

										&.current_page_item{
											a{
												color: $nerd;
												transition: all 0.7s ease;												
											}
										}	
																			
										a{
											color: $white;
											font-size: 12pt;
											letter-spacing: 1px;

											&:hover{
												color: $nerd;
												opacity: 1;
												transition: all 0.7s ease;
											}
										}
										&:hover{
											.filho{
												display: block;
												transition: all 0.7s ease;
											}
										}
										.filho{
											display: none;
											position: absolute;
											top: 100%;
											z-index: 9999;
											background-color: $nerd;
											li{												
												&:first-child{
													a{
														border-top: none;
													}													
												}
												a{
													background-color: $nerd;
													color: $white;													
													&:hover{
														background-color: $white;
														color: $black;
														border-color: $white;
														transition: all 0.7s ease;
													}
												}
											}
										}										
									}
								}
								.open_search{
									position: absolute;
									top: 37%;
									right: 0;
									font-size: 12pt;
									cursor: pointer;
									color: $white;

									&:hover{
										color: $nerd;
									}
								}
								.search-box{
									position: absolute;
									right: 0;
									top: 10px;
									width: 100%;
									background-color: $white;
									padding: 0 2%;

									i{
										color: $black;
										cursor: pointer;
										display: inline;
										font-size: 14pt;

										&:hover{
											color: $nerd;
											transition: all 0.7s ease;
											}										

										&.search_close{
											position: relative;
											color: $black;
											font-size: 16pt;

											&:hover{
												color: $nerd;
												transition: all 0.7s ease;
												}											
										}
									}

									button{
										background-color: $none;
										border: none;
										padding: 0;
										margin: 2% 1% 2% 0;
									}																	

									input{
										float: left;
										width: 92%;
										background-color: $none;
										border-color: $none;
										color: $black;
										margin: 1.2% 0;

										&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
											color: $black;
											font-size: 8pt;											
										}
										&::-moz-placeholder { /* Firefox 19+ */
											color: $black;
											font-size: 8pt;											
										}
										&:-ms-input-placeholder { /* IE 10+ */
											color: $black;
											font-size: 8pt;											
										}
										&:-moz-placeholder { /* Firefox 18- */
											color: $black;
											font-size: 8pt;											
										}										
									}
								}								
							}
						}
						&.mobile_menu{
							margin: 4% 0;
							.menu-home-container{
								width: 100%;
								@media(max-width: 768px){
									ul{
										margin: 0;
										width: 100%;

										li{
											border-top: 1px solid #aeaeae;
											&:first-child{
												border-color: transparent;
											}
											a{
												text-align: center;
											}
										}
									}
								}
							}
						}
					}
				}
			}			
		}
	}
	.whats_fixed{
		position: fixed;
		top: 50%;
		left: 0;
		z-index: 99;
		transform: translateX(-200%);
		background-color: $whats;
		color: $blue;
		padding: 0.7% 1% 0.7% 0;
		transition: all 0.7s ease-in-out;
		width: 11.5%;

		&.active{
			transform: translateX(0);
			transition: all 0.7s ease-in-out;
		}

		i{
			float: left;
			font-size: 14pt;
			padding: 0 4%;
			border-right: 1px solid $blue;
		}

		div{
			float: right;
			padding: 0 4%;
		}
	}	
}

/*Menu Hamburguer*/

#nav-icon2{
  width: 50px;
  height: 32px;
  margin: 1%;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 7px;
  width: 50%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 12px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 24px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 22px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 22px;
}