body{
	section{
		&.single{
			.container{
				.row{
					div{
						p{
							text-align: justify;
						}
						&:first-child{
							figure{
								img{
									width: 100%;
								}
							}
						}
						&:last-child{
							i{
								font-size: 15pt;
								color: $black;
								cursor: pointer;
								margin-right: 1%;

								&.fa-facebook{
									&:hover{
										color: $face;
										transition: all 0.7s ease;
									}
								}
								&.fa-whatsapp{
									&:hover{
										color: $whats;
										transition: all 0.7s ease;
									}
								}								
							}
							iframe{
								margin-left: 4%;
								margin-bottom: 0.5%;
							}
						}
					}
					&.face_comments{
						margin-top: 4%;
						.fb-comments{
							width: 100%;
							span{
								width: 100% !important;
								ifram{
									width: 100% !important;
								}
							}
						}					
					}
				}
			}
		}
		&.comments_area{
			margin-top: 4%;
			.container{
				.row{
					h3{
						margin-bottom: 2% !important;
						width: 100%;
					}
					&.avaliacoes{
						h3{
							margin-bottom: 2%;
							width: 100%;
						}
						h2{
							&.woocommerce-Reviews-title{
								font-size: 13pt;
								margin-top: 0;
								margin-bottom: 5%;
							}
						}
						#respond{
							width: 100%;
							#reply-title							{
								a{
									color: $black;
								}
							}
							p{
								&.must-log-in{
									a{
										color: $white;
										font-weight: bold;
										padding: 0.4% 1%;					
										background-color: $blue;
										border-radius: 4px;

										&:hover{
											background-color: $black;
											transition: all 0.7s ease;
										}
									}
								}
							}
							#commentform{
								.logged-in-as{
									a{
										color: $black;
									}
								}
								.comment-form-comment{
									label{
										display: none;
									}
									textarea{
										border-radius: 6px;
										width: 100%;
									}
								}
								.form-submit{
									input{
										padding: 0.5% 2%;
										background-color: $nerd;
										border-color: $none;
										border-radius: 6px;
										color: $black;
										cursor: pointer;

										&:hover{
											background-color: $black;
											color: $white;
											transition: all 0.7s ease;
										}
									}
								}
							}
						}
						ol.commentlist{
							width: 100%;
							li.comment {
								padding-top: 3%;
								padding-bottom: 3%;
								border-top: 1px solid $black;

								a{
									color: $black;
								}

								&:last-child{
									border-bottom: 1px solid $black;									
								}
								.children{
									margin-top: 2%;;
									li{
										list-style: none;
										&:last-child{
											border-bottom: none;
											padding-bottom: 0;
										}										
									}
								}
								.comment-meta{
									margin: 1% 0;
								}								
								.comment_container{
									img{
										display: inline-block;
									}
									.comment-text{
										display: inline-block;
										padding-left: 2%;
									}
								}
							}
						}
					}
				}
			}
		}		
		&.recentes{
			margin: 4% 0;
			.container{
				.row{
					padding-top: 1%;
					div{
						figure{
							img{
								width: 100%;
							}
						}
						.info{
							h3{
								font-size: 15pt;
							}
							p{
								text-align: justify;
								a{
									padding: 2% 4%;
									background-color: $nerd;
									color: $black;
									text-decoration: none;
									border-radius: 4px;
									&:hover{
										opacity: 1;
									}
								}
							}
							a{
								background-color: $nerd;
								padding: 1% 4%;
								color: $black;
								cursor: pointer;

								&:hover{
									opacity: 1;
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}		
	}
}